# Node
node_modules/
npm-debug.log*

# Rust / Tauri
target/
src-tauri/target/
src-tauri/gen/schemas/

# OS
.DS_Store
Thumbs.db

# Stale trees the remote build script has created by copying at the wrong depth
/src/src/
/src-tauri/src/src/
/src-tauri/src-tauri/
